<h2>Review the game</h2>

<h5>{{game.name}}</h5>

<form [formGroup]="reviewForm" (submit)="submitReview()">
    <table>
      <tr>
        <select formControlName="rating">
            <option *ngFor="let rating of ratingTypes" [value]="rating" [selected]="rating === this.userRating">
                {{ rating }}
            </option>
        </select>
      </tr>
      <tr>
        <td>Review text</td>
        <td>
            <textarea name="" id="" cols="30" rows="10" formControlName="comment" placeholder="Write a review"></textarea>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button type="submit">Publish</button>
        </td>
      </tr>
    </table>
  </form>