<!-- <h2>{{username | titlecase}}'s Followers</h2>

<div *ngIf="followers.length > 0; else noFollowers">
    <div *ngFor="let follower of followers">
      <p [routerLink]="['/user', follower]">{{ follower }}</p>
    </div>
  </div> -->
  

  

  <div class="wrapper">
    <h2>{{username | titlecase}}'s Followers</h2>

    <div class="container responsive-grid">
      <div *ngIf="userProfiles.length > 0; else noFollowers">
        <mat-card class="example-card" *ngFor="let user of userProfiles">
          <mat-card-header>
              <img mat-card-avatar class="avatar" [src]="user.profilePic" alt="Photo of the Game">
              <mat-card-title><a [routerLink]="['/user', user.username]" class="custom-link">{{ user.username }} </a></mat-card-title>
              <mat-card-subtitle>{{user.bio}}</mat-card-subtitle>
          </mat-card-header>
      </mat-card>
      </div>
    </div>

    <ng-template #noFollowers>
      <p class="else-text">No followers yet.</p>
      <!-- <p [routerLink]="['/user', 'testnew']" >Find Friends!</p> -->
    </ng-template>
</div>
