.container {
    color: azure;
    padding: 24px;
    height: auto; 
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 24px;
}

.example-card {
    height: auto;
    background-color: rgba(0, 0, 0, .3);
    transition: transform 0.3s ease;
    width: auto
}

.example-card:hover {
    transform: scale(1.1);
}

.custom-link {
    color: inherit;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}

.card-title {
        height: 50px; 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
}


.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-content {
    padding-bottom: 20px;
}

.subtitle {
    color: rgb(166, 164, 164);
}

.menu-icon {
    margin-left: auto;
    order: 2
}


