<div class="container responsive-grid">
    <mat-card class="example-card" *ngFor="let review of reviews; else noReviews">
        <mat-card-header class="card-header">
            <mat-card-title><a class="custom-link card-title" [routerLink]="['/game', review.gameId]">{{review.gameName}}</a></mat-card-title>
            <mat-card-subtitle class="subtitle">{{review.rating}}</mat-card-subtitle>
            <div *ngIf="currentUser?.username == this.username">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="menu-icon">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editReview(review.gameId, currentUser?.username)">
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="deleteReview(review.id)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </div>
        </mat-card-header>

        <br>
        <mat-card-content class="mat-card-content">
            <p>{{review.comment}}</p>
            <br>
            <p>By <a class="custom-link" [routerLink]="['/user', review.reviewer]">{{review.reviewer | titlecase}}</a></p>
            <p class="card-content">Posted on {{review.date | date}}</p>
        </mat-card-content>
    </mat-card>

    <ng-template #noReviews>
        <p class="else-text">No reviews yet.</p>
    </ng-template>
</div>