<div class="home-wrapper">
    <div class="title">
        <h1>New and Trending Games</h1>

        <select name="" id="" [formControl]="orderByControl" (change)="filter()">
            <option value="-relevance">Relevance</option>
            <option value="-created">Date Added</option>
            <option value="name">Name</option>
            <option value="-added">Popularity</option>
            <option value="-released">Release Date</option>
            <option value="-rating">Average rating</option>
        </select>

        <p>Page: {{page}}</p>
        <button>Previous</button>
        <button (click)="nextPage()">Next</button>
    </div>
    
    <!-- <div *ngFor="let game of games$ | async">
        <a [routerLink]="['/game', game.gameId]">{{game.name}}</a>
        <p>Id: {{game.gameId}}</p>
        <img [src]="game.images[0]" alt="" width="200">
        <p>Rating: {{game.rating}}</p>
        <div *ngFor="let platform of game.platforms">
            <span>{{platform}}</span>
        </div>
        <p>Released date: {{game.releaseDate}}</p>
    </div> -->

    <!-- <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let game of games$ | async">
            <mat-card class="example-card">
                <img mat-card-image [src]="game.images[0]" width="100%" alt="Photo of the Game">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title><a [routerLink]="['/game', game.gameId]">{{game.name}}</a></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Id: {{game.gameId}}</p>
                    <p>Rating: {{game.rating}}</p>
                    <div class="platform-container">
                        <span *ngFor="let platform of game.platforms" class="platform">{{platform}}</span>
                    </div>
                    <p>Released date: {{game.releaseDate}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list> -->
    <div class="container responsive-grid">
        <mat-card class="example-card" *ngFor="let game of games$ | async">
            <img mat-card-image [src]="game.images[0]" width="100%" alt="Photo of the Game">
          <mat-card-header>
            <mat-card-title><a [routerLink]="['/game', game.gameId]" class="custom-link">{{ game.name }} </a></mat-card-title>
          </mat-card-header>
          <!-- <br /> -->
          <mat-card-content>
            <!-- <br /> -->
            <p>Rating: {{game.rating}}</p>
            <div class="platform-container">
                <span>Platforms: </span><span *ngFor="let platform of game.platforms" class="platform">{{platform}}</span>
            </div>
            <div class="genre-container">
                <span>Genres: </span><span *ngFor="let genre of game.genres" class="genre">{{genre}}</span>
            </div>
            <hr>
            <p>Released date: {{game.releaseDate | date}}</p>
          </mat-card-content>
        </mat-card>
      </div>
  

</div>

