
<div class="container"  [style.background-image]="'url(' + backgroundImg + ')'"> 
    <div class="game-content game-container" *ngIf="(gameSub$ | async) as game">
        <h1>{{game.name}}</h1>
        <h3 class="rating">{{highestRating.title | titlecase}}</h3>
        <div class="image-container">
            <img [src]="game.backgroundImage" alt="" width="200"  (click)="openImageDialog(game.backgroundImage)" class="bgImg">
            <div class="image-wrapper" *ngFor="let image of game.images.slice(0,5)" (click)="openImageDialog(image)">
                <img [src]="image" alt="" width="200">
            </div>
        </div>
        <div class="button-container">
            <div *ngIf="!gameInLibrary; else removeFromLibraryButton">
                <button mat-raised-button (click)="addToLibrary(game)">Add to My Games </button>
            </div>
            <div *ngIf="!hasReviewed">
                <button mat-raised-button (click)="reviewGame(game.gameId)">Write a Review</button>
            </div>
            <div *ngIf="hasReviewed">
                <button mat-raised-button (click)="editReview(game.gameId, user?.username)">Edit Review</button>
            </div>
        </div>
        <div class="description">
            <h2>About</h2>
            <p>{{game.description}}</p>
        </div>



        <div class="btm-container">
            <div class="info-container">
                <div class="platform-container">
                    <h3 class="title"><span>Platforms:</span></h3>
                    <span *ngFor="let platform of game.platforms; let last = last">
                        <span>{{ platform }}</span>
                        <span *ngIf="!last">, </span>
                    </span>
                </div>
                <div class="release-date-container">
                    <h3 class="title">Release Date</h3>
                    <p>{{game.releaseDate == 'TBA' ? game.releaseDate : game.releaseDate | date}}</p>
                </div>
                <div class="genre-container">
                    <h3 class="title"><span>Genres </span></h3>
                    <div>
                        <span *ngFor="let genre of game.genres; let last = last">
                            <span>{{ genre }}</span>
                            <span *ngIf="!last">, </span>
                        </span>
                    </div>
                </div>
                <div class="stores-container">
                    <h3 class="title"><span>Stores </span></h3>
                    <div>
                        <span *ngFor="let store of game.stores; let last = last">
                            <span>{{ store }}</span>
                            <span *ngIf="!last">, </span>
                        </span>
                    </div>
                </div>
                <div class="developers-container">
                    <h3 class="title"><span>Developers </span></h3>
                    <div>
                        <span *ngFor="let dev of game.developers; let last = last">
                            <span>{{ dev }}</span>
                            <span *ngIf="!last">, </span>
                        </span>
                    </div>
                </div>
                <div class="website-container">
                    <h3 class="title">Website</h3>
                    <a [href]="game.website">{{ game.website ? game.website : 'N/A' }}</a>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br>

    <div class="review-container">
        <div class="" *ngIf="reviews.length > 0; else noReviews">
            <h1 class="review-content">Reviews</h1>
            <br><br>
            <div class="responsive-grid">
                <mat-card class="example-card" *ngFor="let review of reviews">
                    <mat-card-header class="card-header">
                        <mat-card-title>{{review.rating}}</mat-card-title>
                    </mat-card-header>
                    <br>
                    <mat-card-content class="mat-card-content">
                        <p>{{review.comment}}</p>
                        <br>
                        <p>By <a class="custom-link" [routerLink]="['/user', review.reviewer]">{{review.reviewer | titlecase}}</a></p>
                        <p class="card-content">Posted on {{review.date | date}}</p>
                    </mat-card-content>
                    <mat-card-actions class="card-actions">
                        <button mat-button class="like-button" (click)="like(review.id, review.likeStats)">
                            <ng-container *ngIf="review.likeStats?.liked; else likeButton">
                              <mat-icon color="primary">thumb_up</mat-icon> Unlike {{ review.interactions?.likes }}
                            </ng-container>
                            <ng-template #likeButton>
                              <mat-icon color="primary">thumb_up</mat-icon> Like {{ review.interactions?.likes }}
                            </ng-template>
                          </button>
                          <button mat-button class="dislike-button" (click)="dislike(review.id, review.likeStats)">
                            <ng-container *ngIf="review.likeStats?.disliked; else dislikeButton">
                              <mat-icon color="warn">thumb_down</mat-icon> Remove Dislike {{ review.interactions?.dislikes }}
                            </ng-container>
                            <ng-template #dislikeButton>
                              <mat-icon color="warn">thumb_down</mat-icon> Dislike {{ review.interactions?.dislikes }}
                            </ng-template>
                          </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

</div>



<ng-template #removeFromLibraryButton>
    <button mat-raised-button (click)="removeFromLibrary(game.gameId)">Remove from My Games</button>
</ng-template>
<ng-template #noReviews>
    <h1>Reviews</h1>
    <p>No reviews yet.</p>
</ng-template>