.container {
    position: relative;
    padding: 24px;
    height: auto;
    /* min-height: 100vh;  */
    color: azure;
    background-size:cover;
    background-position: center;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(23, 23, 23, 1) 71%,
        rgba(0, 0, 0, 0.38) 84%
    );
}

.game-content {
    position: relative;
    z-index: 1; 
    text-align: center; /* Center align the text within the content */
    max-width: 600px; /* Adjust the maximum width of the content */
    width: 100%; /* Ensure content takes up full width */
    margin: 0 auto; 
}

.review-content {
    position: relative;
    z-index: 1; 
    text-align: center; /* Center align the text within the content */
    max-width: 600px; /* Adjust the maximum width of the content */
    width: 100%; /* Ensure content takes up full width */
    margin: 0 auto; 
}

.review-content h1 {
    margin-bottom: 10px; /* Add some space below the header */
}

.review-content table {
    width: 100%; /* Ensure the table takes up full width */
    margin: 0 auto; /* Center align the table */
}

.description{
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-container {
    display: flex; /* Use flexbox to make the buttons align side by side */
    text-align: center;
    justify-content: center;
    padding: 24px;
}

.button-container div {
    margin-right: 10px; /* Add some spacing between buttons */
}

.button-container div:last-child {
    margin-right: 0; /* Remove margin from the last button to prevent extra space */
}

.platform-container {
    text-align: left;
    padding-bottom: 20px;
    padding-right: 20px;
}

.genre-container {
    text-align: left;
    padding-bottom: 20px;

}

.info-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.release-date-container{
    text-align: left;
}

.stores-container {
    text-align: left;
    padding-bottom: 20px;

}

.developers-container {
    text-align: left;
}

.website-container {
    /* margin-top: 20px; */
    text-align: left;
}

.website-container a {
    color: azure;
    text-decoration: none;
}

.website-container a:hover {
    text-decoration: underline;
}


.title {
    color: hsla(0, 0%, 100%, .2);
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 24px;
}

.example-card {
    height: auto;
    background-color: rgba(0, 0, 0, .3);
    transition: transform 0.3s ease;
    width: auto
}

.example-card:hover {
    transform: scale(1.1);
}

.custom-link {
    color: inherit;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}

/* .card-title {
        height: 50px; 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
} */


.card-header {
    display: flex;
    align-items: center; /* Vertically center align content */
    justify-content: space-between ;
}

.card-content {
    padding-bottom: 20px; /* Uncomment if you want padding at the bottom */
}

.review-container {
    color: azure;
    padding: 24px;
    height: auto; /* Adjusted to allow container to expand based on content */
    width: 50%;
}

.like-button mat-icon {
    vertical-align: middle;
    font-size: 1.2rem;
  }

.like-button {
    color: #1976D2;
}

.dislike-button {
    color: #E53935;
    margin-top: 4px;
}

.dislike-button mat-icon {
    /* padding-top: 10px; */
    vertical-align:-webkit-baseline-middle ;
    font-size: 1.2rem;
}

.rating {
    color: rgb(215, 221, 226);
}

.image-container {
    display: grid; /* Use CSS grid */
    grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Automatically adjust column width */
    gap: 10px; /* Add gap between images */
}

.image-container img {
    width: 100%;
    height: 110px; /* Set a fixed height for all images */
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
}

.image-wrapper {
    cursor: pointer; /* Show pointer cursor on hover to indicate clickability */
}

.image-wrapper img {
    transition: transform 0.3s ease; /* Add transition for smooth scaling effect */
}

.image-wrapper img.expanded {
    transform: scale(3); /* Increase the size of the expanded image */

}

.bgImg {
    cursor: pointer;
}

.card-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
  }

  .mat-card-content {
    position: relative; /* Ensure the content is positioned relatively */
  }

.card-content {
    color: darkgray;
}
  
  