.container {
    position: relative;
    padding: 24px;
    height: auto;
    /* min-height: 100vh;  */
    color: azure;
    background-size:cover;
    background-position: center;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(23, 23, 23, 1) 71%,
        rgba(0, 0, 0, 0.38) 84%
    );
}

.game-content {
    position: relative;
    z-index: 1; 
    text-align: center; /* Center align the text within the content */
    max-width: 600px; /* Adjust the maximum width of the content */
    width: 100%; /* Ensure content takes up full width */
    margin: 0 auto; 
}

.review-content {
    position: relative;
    z-index: 1; 
    text-align: center; /* Center align the text within the content */
    max-width: 600px; /* Adjust the maximum width of the content */
    width: 100%; /* Ensure content takes up full width */
    margin: 0 auto; 
}

.review-content h1 {
    margin-bottom: 10px; /* Add some space below the header */
}

.review-content table {
    width: 100%; /* Ensure the table takes up full width */
    margin: 0 auto; /* Center align the table */
}

.description{
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-container {
    display: flex; /* Use flexbox to make the buttons align side by side */
    text-align: center;
    justify-content: center;
    padding: 24px;
}

.button-container div {
    margin-right: 10px; /* Add some spacing between buttons */
}

.button-container div:last-child {
    margin-right: 0; /* Remove margin from the last button to prevent extra space */
}

.platform-container {
    text-align: left;
    padding-bottom: 20px;
    padding-right: 20px;
}

.genre-container {
    text-align: left;
    padding-bottom: 20px;

}

.info-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.release-date-container{
    text-align: left;
}

.stores-container {
    text-align: left;
    padding-bottom: 20px;

}

.developers-container {
    text-align: left;
}

.website-container {
    /* margin-top: 20px; */
    text-align: left;
}

.website-container a {
    color: azure;
    text-decoration: none;
}

.website-container a:hover {
    text-decoration: underline;
}

/* .btm-container {
    height: auto;
    align-items: center;
} */

.title {
    color: hsla(0, 0%, 100%, .2);
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 24px;
}

.example-card {
    height: auto;
    background-color: rgba(0, 0, 0, .3);
    transition: transform 0.3s ease;
    width: auto
    /* Add any other styling as needed */
}

.example-card:hover {
    transform: scale(1.1);
}

.custom-link {
    color: inherit;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}

.card-title {
        height: 50px; /* Adjust the height as needed */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
}


.card-header {
    display: flex;
    align-items: center; /* Vertically center align content */
    justify-content: space-between ;
}

.card-content {
    padding-bottom: 20px; /* Uncomment if you want padding at the bottom */
}

.review-container {
    color: azure;
    padding: 24px;
    height: auto; /* Adjusted to allow container to expand based on content */
    width: 50%;
}

.like-button,
.dislike-button {
    align-self: flex-end; /* Align buttons to the bottom of the card */
    color: inherit; /* Inherit text color from parent */
}

.like-button mat-icon,
.dislike-button mat-icon {
    vertical-align: middle; /* Align icon vertically */
    margin-right: 4px; /* Add some space between icon and text */
}

.like-button {
    color: #1976D2; /* Color for like button */
}

.dislike-button {
    color: #E53935; /* Color for dislike button */
}

