.container {
    position: relative;
    padding: 24px;
    height: auto;
    color: azure;
    background-size:cover;
    background-position: center;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(23, 23, 23, 1) 71%,
        rgba(0, 0, 0, 0.38) 84%
    );
}

.game-content {
    position: relative;
    z-index: 1; 
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto; 
}

.review-content {
    position: relative;
    z-index: 1; 
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto; 
}

.review-content h1 {
    margin-bottom: 10px; 
}

.review-content table {
    width: 100%;
    margin: 0 auto; 
}

.description{
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-container {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 24px;
}

.button-container div {
    margin-right: 10px;
}

.button-container div:last-child {
    margin-right: 0; 
}

.platform-container {
    text-align: left;
    padding-bottom: 20px;
    padding-right: 20px;
}

.info-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.stores-container, .genre-container {
    text-align: left;
    padding-bottom: 20px;
}


.website-container, .developers-container, .release-date-container {
    text-align: left;
}

.website-container a {
    color: azure;
    text-decoration: none;
}

.website-container a:hover {
    text-decoration: underline;
}


.title {
    color: hsla(0, 0%, 100%, .2);
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 24px;
}

.example-card {
    height: auto;
    background-color: rgba(0, 0, 0, .3);
    transition: transform 0.3s ease;
    width: auto
}

.example-card:hover {
    transform: scale(1.1);
}

.custom-link {
    color: inherit;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}


.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.card-content {
    padding-bottom: 20px;
}

.review-container {
    color: azure;
    padding: 24px;
    height: auto;
    width: 50%;
}

.like-button mat-icon {
    vertical-align: middle;
    font-size: 1.2rem;
  }

.like-button {
    color: #1976D2;
}

.dislike-button {
    color: #E53935;
    margin-top: 4px;
}

.dislike-button mat-icon {
    vertical-align:-webkit-baseline-middle ;
    font-size: 1.2rem;
}

.rating {
    color: rgb(215, 221, 226);
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 10px; 
}

.image-container img {
    width: 100%;
    height: 110px;
    object-fit: cover; 
}

.image-wrapper {
    cursor: pointer; 
}

.image-wrapper img {
    transition: transform 0.3s ease;
}

.image-wrapper img.expanded {
    transform: scale(3);
}

.bgImg {
    cursor: pointer;
}

.card-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
  }

  .mat-card-content {
    position: relative;
  }

.card-content {
    color: darkgray;
}
  
  