@font-face {
    font-family: 'monogram';
    src: url('/frontend/src/assets/kaboom/monogram.ttf') format('truetype');
}

/* body{
    font-family: 'monogram', monospace;
    overflow: hidden;
} */

#app {
    width: 100%;
    height: 93%;
    position: relative;
    margin: auto;
}


#textbox {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 2vh;
    min-height: 10vh;
    background: white;
    border-radius: 3px;
    outline-style: solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    word-spacing: 0.2rem;
    filter: drop-shadow(0 0 0.75rem rgb(112,112,112));
}

.ui-text {
    font-family: 'monogram', monospace;
    margin: 0;
    user-select: none;
    font-size: larger;
    font-weight: 600;
    background: white;
    color: black;
}

.ui-close-btn {
    font-family: 'monogram', monospace;
    border-style: none;
    border-radius: 3px;
    padding: 1rem;
    font-size: inherit;
  }

.btn-container {
    align-self: flex-end;
    margin-top: 1rem;
}

.note {
    font-family: 'monogram', monospace;
    position: absolute;
    left: 5%;
    top: 1vh;
    display: flex;
    flex-direction: column;
    color: rgb(238, 238, 238);
}

.gameheader{
    font-family: 'monogram', monospace;
    text-align: center;
}

.container {
    /* padding-top: 24px; */
    padding: 24px;
    color: azure;
    background-size: cover;
    background-color: #202020;
    
}