
<!-- <p>Playpal is a community-powered video game discovery platform where users can keep track of their games</p> -->

<div id="app">
    <div id="ui">
      <p class="note">Welcome to Playpal's Home! Tap/Click around to move</p>
      <div id="textbox-container" style="display: none;">
        <div id="textbox">
          <p id="dialogue" class="ui-text"></p>
          <div class="btn-container">
            <button id="close" class="ui-close-btn">Close</button>
          </div>
        </div>
      </div>
    </div>
    <canvas id="game"></canvas>
</div>

<!-- <br><br> -->

<div class="container">
  <br><br>
  <div class="map-container" #map style="width:50%;height:400px; margin: auto;"></div>
  <h2 class="gameheader">Our Office: NUS-ISS, 25 Heng Mui Keng Terrace </h2>
</div>


