
<div class="wrapper">
    <h2>{{username | titlecase}}'s Following</h2>

    <div class="container responsive-grid">
        <div *ngIf="userProfiles.length > 0; else noFollowing">
            <mat-card class="example-card" *ngFor="let user of userProfiles">
                <mat-card-header class="card-header">
                    <img class="avatar" [src]="user.profilePic" alt="Photo of the Game">
                    <h2><a [routerLink]="['/user', user.username]" class="custom-link">{{ user.username }} </a></h2>
                    <!-- <mat-card-subtitle class="card-subtitle">{{user.bio}}</mat-card-subtitle> -->
                </mat-card-header>
            </mat-card>
        </div>
    </div>
    <ng-template #noFollowing>
        <p class="else-text">Not following anyone yet.</p>
    </ng-template>
</div>


