<h2>Register</h2>

<form [formGroup]="registerForm" (submit)="register()">
    <table>
      <tr>
        <td>Username:</td>
        <td>
          <input type="text" formControlName="username">
        </td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>
            <input type="email" formControlName="email">
        </td>
      </tr>
      <tr>
        <td>Password:</td>
        <td>
            <input type="text" formControlName="password">
        </td>
      </tr>
      <tr>
        <td>Re-enter Password:</td>
        <td>
            <input type="text" formControlName="password2">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button type="submit">Register</button>
        </td>
      </tr>
      <p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
    </table>
  </form>