<div class="container">
<div class="profile-container">
    <img class="profilePic" [src]="profile.profilePic" width="200" alt="Profile Picture">
    <div class="profile-info">
        <h2>{{username | titlecase}}'s Profile</h2>
        <!-- <p>{{profile.name}}</p> -->
        <p>{{profile.bio}}</p>
    <div *ngIf="currentUser?.username !== username; else isCurrentUser">
        <div *ngIf="isFollowing; else follow">
            <button mat-raised-button (click)="unfollowUser(username, currentUser?.username)">Unfollow</button>
        </div>
    </div>
    </div>

</div>



<ng-template #isCurrentUser>
    <button mat-raised-button [routerLink]="['/settings', currentUser?.username]">Settings</button>
</ng-template>

<ng-template #follow>
    <button mat-raised-button (click)="followUser(username, currentUser?.username)">Follow</button>
</ng-template>


<mat-tab-group>
    <mat-tab class="tabs" label="Library">
        <br><br>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel class="expansion-panel-1" (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Uncategorized
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="responsive-grid">
            <mat-card class="example-card" *ngFor="let game of uncategorized; let i = index">
                <img mat-card-image [src]="game.backgroundImage" width="100%" alt="Photo of the Game">
              <mat-card-header>
                <mat-card-title><a [routerLink]="['/game', game.gameId]" class="custom-link">{{ game.name }} </a></mat-card-title>
              </mat-card-header>
              <br>
              <mat-card-content class="mat-card-content">
                <div *ngIf="currentUser?.username == username">
                    <form [formGroup]="gameForms.get(game.gameId)!">
                        <div class="select-wrapper">
                            <mat-select [(value)]="game.gameStatus" formControlName="gameStatus" (selectionChange)="updateUserLibrary(game.gameId, i)">
                                <mat-option></mat-option>
                                @for (status of gameStatusTypes; track status) {
                                  <mat-option [value]="status">{{ status }}</mat-option>
                                }
                            </mat-select>    
                        </div>
                        <div class="select-wrapper">
                            <mat-select placeholder="Rating" [(value)]="game.userRating" formControlName="userRating" (selectionChange)="updateUserLibrary(game.gameId, i)">
                                <mat-option></mat-option>
                                @for (rating of ratingTypes; track rating) {
                                  <mat-option [value]="rating">{{ rating }}</mat-option>
                                }
                            </mat-select>    
                        </div>
                    </form>
                    <div class="button-wrapper">
                        <button class="delete-btn" mat-raised-button (click)="deleteFromUserLibrary(game._id, game.gameId)"><mat-icon color="warn">delete</mat-icon> Delete from Library</button>
                    </div>
                </div>
            </mat-card-content>
            </mat-card>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel class="expansion-panel-1">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Currently Playing
            </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="responsive-grid">
                <mat-card class="example-card" *ngFor="let game of currentlyPlaying; let i = index">
                    <img mat-card-image [src]="game.backgroundImage" width="100%" alt="Photo of the Game">
                  <mat-card-header>
                    <mat-card-title><a [routerLink]="['/game', game.gameId]" class="custom-link">{{ game.name }} </a></mat-card-title>
                  </mat-card-header>
                  <br>
                  <mat-card-content class="mat-card-content">
                    <div *ngIf="currentUser?.username == username">
                        <form [formGroup]="gameForms.get(game.gameId)!">
                            <div class="select-wrapper">
                                <mat-select [(value)]="game.gameStatus" formControlName="gameStatus" (selectionChange)="updateUserLibrary(game.gameId, i)">
                                    <mat-option></mat-option>
                                    @for (status of gameStatusTypes; track status) {
                                      <mat-option [value]="status">{{ status }}</mat-option>
                                    }
                                </mat-select>    
                            </div>
                            <div class="select-wrapper">
                                <mat-select placeholder="Rating" [(value)]="game.userRating" formControlName="userRating" (selectionChange)="updateUserLibrary(game.gameId, i)">
                                    <mat-option></mat-option>
                                    @for (rating of ratingTypes; track rating) {
                                      <mat-option [value]="rating">{{ rating }}</mat-option>
                                    }
                                </mat-select>    
                            </div>
                        </form>
                        <div class="button-wrapper">
                            <button class="delete-btn" mat-raised-button (click)="deleteFromUserLibrary(game._id, game.gameId)"><mat-icon color="warn">delete</mat-icon> Delete from Library</button>
                        </div>
                    </div>
                </mat-card-content>
                </mat-card>
                </div>
        </mat-expansion-panel>
          <mat-expansion-panel class="expansion-panel-1">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Completed
            </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="responsive-grid">
                <mat-card class="example-card" *ngFor="let game of completed; let i = index">
                    <img mat-card-image [src]="game.backgroundImage" width="100%" alt="Photo of the Game">
                  <mat-card-header>
                    <mat-card-title><a [routerLink]="['/game', game.gameId]" class="custom-link">{{ game.name }} </a></mat-card-title>
                  </mat-card-header>
                  <br>
                  <mat-card-content class="mat-card-content">
                    <div *ngIf="currentUser?.username == username">
                        <form [formGroup]="gameForms.get(game.gameId)!">
                            <div class="select-wrapper">
                                <mat-select [(value)]="game.gameStatus" formControlName="gameStatus" (selectionChange)="updateUserLibrary(game.gameId, i)">
                                    <mat-option></mat-option>
                                    @for (status of gameStatusTypes; track status) {
                                      <mat-option [value]="status">{{ status }}</mat-option>
                                    }
                                </mat-select>    
                            </div>
                            <div class="select-wrapper">
                                <mat-select placeholder="Rating" [(value)]="game.userRating" formControlName="userRating" (selectionChange)="updateUserLibrary(game.gameId, i)">
                                    <mat-option></mat-option>
                                    @for (rating of ratingTypes; track rating) {
                                      <mat-option [value]="rating">{{ rating }}</mat-option>
                                    }
                                </mat-select>    
                            </div>
                        </form>
                        <div class="button-wrapper">
                            <button class="delete-btn" mat-raised-button (click)="deleteFromUserLibrary(game._id, game.gameId)"><mat-icon color="warn">delete</mat-icon> Delete from Library</button>
                        </div>
                    </div>
                </mat-card-content>
                </mat-card>
                </div>
        </mat-expansion-panel >
          <mat-expansion-panel class="expansion-panel-1">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Played
            </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="responsive-grid">
                <mat-card class="example-card" *ngFor="let game of played; let i = index">
                    <img mat-card-image [src]="game.backgroundImage" width="100%" alt="Photo of the Game">
                  <mat-card-header>
                    <mat-card-title><a [routerLink]="['/game', game.gameId]" class="custom-link">{{ game.name }} </a></mat-card-title>
                  </mat-card-header>
                  <br>
                  <mat-card-content class="mat-card-content">
                    <div *ngIf="currentUser?.username == username">
                        <form [formGroup]="gameForms.get(game.gameId)!">
                            <div class="select-wrapper">
                                <mat-select [(value)]="game.gameStatus" formControlName="gameStatus" (selectionChange)="updateUserLibrary(game.gameId, i)">
                                    <mat-option></mat-option>
                                    @for (status of gameStatusTypes; track status) {
                                      <mat-option [value]="status">{{ status }}</mat-option>
                                    }
                                </mat-select>    
                            </div>
                            <div class="select-wrapper">
                                <mat-select placeholder="Rating" [(value)]="game.userRating" formControlName="userRating" (selectionChange)="updateUserLibrary(game.gameId, i)">
                                    <mat-option></mat-option>
                                    @for (rating of ratingTypes; track rating) {
                                      <mat-option [value]="rating">{{ rating }}</mat-option>
                                    }
                                </mat-select>    
                            </div>
                        </form>
                        <div class="button-wrapper">
                            <button class="delete-btn" mat-raised-button (click)="deleteFromUserLibrary(game._id, game.gameId)"><mat-icon color="warn">delete</mat-icon> Delete from Library</button>
                        </div>
                    </div>
                </mat-card-content>
                </mat-card>
                </div>
        </mat-expansion-panel>
          <mat-expansion-panel class="expansion-panel-1">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Not Played
            </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="responsive-grid">
                <mat-card class="example-card" *ngFor="let game of notPlayed; let i = index">
                    <img mat-card-image [src]="game.backgroundImage" width="100%" alt="Photo of the Game">
                  <mat-card-header>
                    <mat-card-title><a [routerLink]="['/game', game.gameId]" class="custom-link">{{ game.name }} </a></mat-card-title>
                  </mat-card-header>
                  <br>
                  <mat-card-content class="mat-card-content">
                    <div *ngIf="currentUser?.username == username">
                        <form [formGroup]="gameForms.get(game.gameId)!">
                            <div class="select-wrapper">
                                <mat-select [(value)]="game.gameStatus" formControlName="gameStatus" (selectionChange)="updateUserLibrary(game.gameId, i)">
                                    <mat-option></mat-option>
                                    @for (status of gameStatusTypes; track status) {
                                      <mat-option [value]="status">{{ status }}</mat-option>
                                    }
                                </mat-select>    
                            </div>
                            <div class="select-wrapper">
                                <mat-select placeholder="Rating" [(value)]="game.userRating" formControlName="userRating" (selectionChange)="updateUserLibrary(game.gameId, i)">
                                    <mat-option></mat-option>
                                    @for (rating of ratingTypes; track rating) {
                                      <mat-option [value]="rating">{{ rating }}</mat-option>
                                    }
                                </mat-select>    
                            </div>
                        </form>
                        <div class="button-wrapper">
                            <button class="delete-btn" mat-raised-button (click)="deleteFromUserLibrary(game._id, game.gameId)"><mat-icon color="warn">delete</mat-icon> Delete from Library</button>
                        </div>
                    </div>
                </mat-card-content>
                </mat-card>
                </div>
        </mat-expansion-panel>
          </mat-accordion>

    </mat-tab>
    <mat-tab label="Following" [routerLink]="['/user/following', username]" ><app-user-following></app-user-following> </mat-tab>
    <mat-tab label="Followers" [routerLink]="['/user/followers', username]"><app-user-followers></app-user-followers> </mat-tab>
    <mat-tab label="Reviews" [routerLink]="['/user', username, 'reviews']"><app-user-reviews></app-user-reviews> </mat-tab>
  </mat-tab-group>
